<p>
  Add a new Provider
</p>

<form class="example-form">

  <md-input-container class="example-full-width">
    <input mdInput placeholder="Provider Name" value="" [(ngModel)]="serviceProvider.providerName" name="questionLabel"
           required>
  </md-input-container>

  <br>
  <hr>

  <md-grid-list cols="2" rowHeight="100px">

    <md-grid-tile [colspan]="1">

      <md-select #t placeholder="IT Solution" name="itsolution" [(ngModel)]="currentCompetence.itsolution">
        <md-option *ngFor="let itsolution of adminService.itsolution$ | async"
                   [value]="itsolution"
                   name="itSolutionURI"
                   ngDefaultControl>
          {{itsolution.itSolutionLabel}}
        </md-option>
      </md-select>
    </md-grid-tile>

    <md-grid-tile [colspan]="1">
      <div class="form-group">
        <label>Competences</label>
        <select multiple name="topics" class="form-control" [(ngModel)]="currentCompetence.competenceList">
          <option *ngFor="let competence of adminService.competences$ | async" [value]="competence">
            {{competence.competenceType}}
          </option>
        </select>
      </div>
    </md-grid-tile>

    <md-grid-tile [colspan]="1">
      <button md-button (click)="addList()">Add to list</button>

    </md-grid-tile>

  </md-grid-list>
  <button md-button (click)="saveProvider()">Save</button>

</form>

  <hr>
  <label>Entered competences</label>
  <ul>
    <li *ngFor="let comsaved of serviceProvider.competence">
      <pre>{{ comsaved.itsolution.itSolutionLabel }} </pre>
      <div *ngFor="let comsavedList of comsaved.competenceList">
        {{comsavedList.competenceType}}
      </div>
    </li>
  </ul>



